{{#with user}}
<img src="{{avatar}}" alt="">
<div>
    <p>Username: {{username}} </p>
    <p>Datos: {{firstName}} {{lastName}} </p>
    <p>correo: {{email}} </p>
    <p>contraseña: {{password}}</p>
    <p>descripcion: {{description}}</p>
</div>
{{/with}}

{{!--sin with user.username user.firstname --}}

{{!--con with username --}}
